extends main.pug 

block blockPr

    table(class="table")
        thead
            tr
                th( scope="col" ) Producto
                th( scope="col" ) Precio
                th( scope="col" ) Imagen
        if productos.length
            each producto in productos
                tbody
                    tr( class='table-secondary' )
                        th( scope="row" ) #{producto.title}
                        td #{producto.price}
                        td
                            img(src=`${producto.thumbnail}` style="width: 100px;")
        else 
            div(class="alert alert-warning" role="alert")
                A No hay productos para mostrar


